@model User

<div>
    <h2>Enter your information</h2>
    <form asp-action="Create" asp-controller="Home" method="post">
        <span asp-validation-for="FirstName"></span><br>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName"><br>
        <span asp-validation-for="LastName"></span><br>
        <label asp-for="LastName"></label>
        <input asp-for="LastName"><br>
        <span asp-validation-for="Age"></span><br>
        <label asp-for="Age"></label>
        <input asp-for="Age"><br>
        <span asp-validation-for="EmailAddress"></span><br>
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress"><br>
        <span asp-validation-for="Password"></span><br>
        <label asp-for="Password"></label>
        <input asp-for="Password"><br>
        <input type="submit" value="Add User" class="btn btn-primary">
    </form>
</div>